<!DOCTYPE html>
<html>
    <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157392582-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-157392582-1');
	</script>	

	<style>
	.column {
	  float: left;
	  width: 50%;
	}

	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	</style>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">
		<script>
			var add = function(gender) {
				var N = document.getElementById(gender).childElementCount;
				var added = document.createElement("div");
				document.getElementById(gender).appendChild(added);
				added.setAttribute("id", gender  + N);
				var input = document.createElement("input");
				input.name = gender + "[" + N + "]";
				added.appendChild(input);
				added.appendChild(document.createElement("br"));
			};

			var del = function(gender) {
				var N = document.getElementById(gender).childElementCount - 1;
				document.getElementById(gender + N).remove();	
			};
	

			var submitForms = function(){
				document.getElementById("male").submit();
				document.getElementById("female").submit();
			}
			
		</script>

        <title>Home</title>

    </head>
    <body>
		<form id="form" method="Post" action="/compatibility">
		<div class="row">
		  <div class="column">
			  Males:
			  <br>
			<div id="male">
			  <div id="male0">
				<input type="text" name="male[0]">
		        <br>
		      </div>
			</div>
		  </div>
		  <div class="column">
			  Females:
			  <br>
			<div id="female">
			  <div id="female0">
				<input type="text" name="female[0]">
			    <br>
			  </div>
			</div>
		  </div>
		</div>	
		</div>
		<br><br>	
		<button type="button" onclick="add('male'); add('female');">Add</button>	
		<button type="button" onclick="del('male'); del('female');">Delete</button>
		<input type="submit" value="Next">
		</form>

			
    </body>

</html>
